
.about-container {
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'DM Sans', sans-serif;
    background: white;
    transition: all 0.3s ease;
  
    .about {
      max-width: 800px;
      margin: auto;
      align-items: center;
      justify-content: space-between;
      transition: height 0.3s ease;
  
      .info {
        display: flex;
  
        ul {
          padding: 0;
        }
      }
  
      .me-icon {
        width: auto;
        animation: rotate 120s linear infinite;
      }
  
      @-webkit-keyframes rotate {
          0% {
              -webkit-transform:translate(100px, 100px) rotate(0deg) translate(-100px, -100px) rotate(0deg);
          }
          15% {
                -webkit-transform:translate(100px, 130px) rotate(70deg) translate(-100px, -120px) rotate(-45deg);
          }
          30% {
              -webkit-transform:translate(110px, 100px) rotate(90deg) translate(-100px, -100px) rotate(-90deg);
          }
          45% {
              -webkit-transform:translate(100px, 120px) rotate(180deg) translate(-100px, -100px) rotate(-180deg);
          }
          60% {
              -webkit-transform:translate(90px, 100px) rotate(205deg) translate(-120px, -100px) rotate(225deg);
          }
          75% {
              -webkit-transform:translate(100px, 120px) rotate(270deg) translate(-100px, -100px) rotate(-270deg);
          }
          90% {
              -webkit-transform:translate(90px, 100px) rotate(310deg) translate(-110px, -100px) rotate(315deg);
          }
          100% {
              -webkit-transform:translate(110px, 100px) rotate(360deg) translate(-100px, -100px) rotate(-360deg);
          }
      }
    }
  }
  
  @media (max-width: 850px) {
    .about-container {
      text-align: center;
      .about {
  
        .info {
          display: grid;
        }
  
        .me-icon {
          margin-left: 0;
        }
  
      }
    }
  
  }
  