
.listing {
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  font-family: 'DM Sans', sans-serif;

  .blog-container {
    padding: 2em 0 0 0.5em;
    // height: 100px;
    max-width: 800px;
    margin: auto;
    justify-content: space-between;
    transition: height 0.3s ease;
    height: 100%;
    border: 2px solid orange;
  }
}
