
.app {
  // border: solid 2px black;
  // overflow-x: hidden;
  height: 100%;
  width: 100%;
}


header {
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  transition: all 0.3s ease;

  .summary {
    padding: 0 0.5em;
    height: 100%;
    max-width: 800px;
    line-height: 26px;
    margin: auto;
    margin-top: 4em;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
    // border:2px solid red;

    h1 {
      font-size: 2.2rem;
      color: black;
      font-family: 'DM Sans', sans-serif;
    }

    img {
      float: right;
    }
    p {
      font-size: 1.2rem;
      line-height: 30px;
      font-family: 'DM Sans', sans-serif;
      width: 100%;
    }
  }
}

@media(max-width: 850px) {
  header {

    .summary {
      width: 100%;
      margin-right: 0rem;
      padding: 0;
      h1 {

      }

      img {

      }
      p {

      }
    }
  }
}
